html, body {
  background-color: #E9EEF6;
}

body {
  padding-top: 55px;
}

.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0;
  font-size: 0px;
  margin-bottom: -1px;
}

#left-column {
  z-index: 1;
  position: relative;
  margin-top: 1em;
}

#right-column {
  z-index: 0;
  position: relative;
}

#ro-viewer {
  background-color: #F7F7F7;
  border: 2px solid #CCC;
  padding: 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 0 10px #CCC;
  -moz-box-shadow: 0 0 10px #CCC;
  -webkit-box-shadow: 0 0 10px #CCC;
  position: fixed;
}

#ro-viewer .header {
  padding: 8px 12px;
  color: #F5F5F5;
  background-color: #B07C84;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #BBB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

#ro-viewer .content {
  padding: 1.3em 1em;
  margin-bottom: 10px;
}

.treeview {
  font-size: 13px;
}

.treeview li { 
  padding-bottom: 0.4em;
}

.treeview li * {
  vertical-align: top;
}

.filetree span.folder {
  padding-left: 18px;
}

.filetree span.file {
  padding-left: 20px;
  border: 1px dotted transparent;
  background-position-x: 2px;
  background-position-y: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.filetree li:hover > span.file,
.annotations-list ul li:hover {
  cursor: pointer;
  background-color: #CCC;
  border: 1px solid #BBB;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.filetree li.selected > span.file,
.annotations-list ul li.selected {
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#annotating-box {
  border: 2px solid #CCC;
  background-color: #FFF;
  margin-left: -80px;
  min-height: 500px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 0 4px #CCC;
  -moz-box-shadow: 0 0 4px #CCC;
  -webkit-box-shadow: 0 0 4px #CCC;
}

#annotating-box .header {
  padding: 8px 12px;
  padding-left: 65px;
  color: #F5F5F5;
  background-color: #6182AF;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #BBB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

#annotating-box .content {
  margin: 1.6em 1em;
  margin-left: 65px;
  margin-bottom: 10px;
  height: 500px;
}

.annotations-list {
  float: left;
  width: 37%;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px dashed #BBB;
  height: 500px;
  overflow: auto;
}

.annotations-list ul {
  list-style: none;
  margin: 0;
}

.annotations-list ul li {
  display: block;
  padding: 0.2em 0.5em;
  border: 1px solid #DDD;
  margin: 0;
}

.annotations-list ul li * {
  vertical-align: middle;
}

.annotations-list ul li .attribute {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  background-color: #E1D8FF;
  color: #635F70;
  border: 1px solid #CCC;
  padding: 1px 3px;
  text-decoration: none;
  line-height: 1.0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-right: 0.5em;
}

.annotations-editor {
  float: right;
  width: 58%;
  height: 500px;
  overflow: auto;
}


